@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)?</h2>

@using (Html.BeginForm())
{
  <button class="red" type="submit">Delete</button>
}

<a href='@Url.Action("Index")'>
  <button>Back to List</button>
</a>