@{
  Layout = "_Layout";
}
<h1>Eau Claire's Salon Administrator Dashboard</h1>


<a href='@Url.Action("Index", "Stylists")'>
  <button>See Stylists</button>
</a>
<a href='@Url.Action("Index", "Clients")'>
  <button>See Clients</button>
</a>