@{
  Layout = "_Layout";
}
<h1>Eau Claire's Salon Administrator Dashboard</h1>


@using (Html.BeginForm("Search", "Stylists"))
{
  <div><span>Search Stylists:</span> <span><input type="text" name="StylistQuery"></span></div>
  <button class="green" type="submit">Search</button>
}
<a href='@Url.Action("Index", "Stylists")'>
  <button>See Stylists</button>
</a>
<a href='@Url.Action("Index", "Clients")'>
  <button>See Clients</button>
</a>